footer {

    display: flex;
    background-color: #f8f9fa;
    justify-content: space-between;
    padding: 3px;

    a {
        text-decoration: none;
        color: black;
        font-weight: normal;
    }

    div {
        margin-right: 12px;
    }

        .logoheaderfooter {
            margin-left: 12px;
        
        img {
            @extend .headerFooter
    }   }


    .whatsappmargin {
        margin-left: 7px;
    }
    
}

@media (max-width: 992px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;  

    .rrss {
        display: flex;
        justify-content: center;
    }

    .whatsappmargin {
        margin-left: 9px;
    }
}


} 