body {
    color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-image: linear-gradient(rgb(224, 229, 231) , rgb(185, 185, 192));
} 

.headerFooter {
        cursor: pointer;
        transition: transform 0.5s;
    
    &:hover {
        transform: scale(1.05);
    }
}


