/* $colorbg: #f1f1f1;
$colorPrimary: #8841da;
$colorSecondary: #333;
$colorLight: #fff;
$colorContrast: #a8a8a8;

$fontBase: 1.2rem;
$fontMedium: $fontBase + 0.2;
$fontLarge: $fontMedium + 1;

$borderRadius: 2rem; */